body
{
    padding: 0;
    margin: 0;
}
#nav1
{
    background-color:#222222;
    height: 53px;
}
#nav2
{
    background-color:#222222;
    height: 53px;
}
.navText
{
    text-decoration: none;
    color: #CDCDCD;
    position: relative;
    cursor: pointer;
}
#navTodolist
{
    font-size: 185%;
    text-decoration: none;
    top: 10px;
}
#navForm
{
    height: auto;
    position: relative;
    top: 11px;
}
#navInput
{
    border-radius: 5px;
    height: 29px;
}
#navMusic
{
    font-size: 150%;
    text-decoration: none;
    top: 10px;
    text-align: center;
}
#navDownload
{
    font-size: 150%;
    text-decoration: none;
    top: 10px;
    text-align: center;
}
#navGame
{
    font-size: 150%;
    text-decoration: none;
    top: 10px;
    text-align: center;
}

#content
{
    background-color: #CDCDCD;
    min-height: 580px;
}
#contentLeft
{

}

#tomato
{
    height: 50px;
    position: relative;
    top: 40px;
}
#time
{
    font-size: x-large;
    letter-spacing: 2px;
}
#timeStart
{
    position: relative;
    left:1%;
}
#timeStop
{
    width: 30px;
    height: 30px;
    position: relative;
    left:2%;
}
#titleDoing
{


    top: 20px;
}
#titleDone
{

    top: 20px;

}
#eventBoxFirst
{
    float: left;
    clear: both;
    height: auto;
    min-height: 10px;
    width:65% ;
    background-color: #CDCDCD;
    position: relative;
    left: 16%;
    top:15px;
}
#eventBoxSecond
{
    float: left;
    clear: both;
    height: auto;
    min-height: 10px;
    width:65% ;
    background-color: #CDCDCD;
    position: relative;
    left: 16%;
    top:15px;
}

li
{
    position: relative;
    height:32px;
    line-height: 4px;
    background: #fff;
    margin-bottom: 10px;
    padding:0 15px;
    border-radius:3px;
    border-left: 5px solid #629A9C;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    list-style: none;
}
li input
{
    float: left;
    position: relative;
    top: 6px;
}
li div
{
    float: left;
    position: absolute;
    width: 80%;
    height: 30px;
    left:40px;
    overflow: auto;
}
li div p
{
    position: relative;
    height: 20px;
    top: 8px;
    white-space:nowrap;
}
li a
{
    position: absolute;
    right: 10px;
    top: 8px;
    text-decoration: none;
    cursor: pointer;
}

